<% content_for :stylesheet_includes do %>
    <%= stylesheet_link_tag    "bootstrap.min.css", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap-responsive.min.css", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap.css", :media => "all" %>
    <%= stylesheet_link_tag    "bootstrap-responsive.css", :media => "all" %>
<% end %>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "bootstrap.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
<% end %>


<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap 101 Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->

</head>
<body>
<h1>hey hi how r u</h1>

</body>
</html>